<title>Meu Amigo Animal</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>

    #menu a{
        color:white;
        background-color: chocolate;
    }

    #menu a:hover{
        color:orange;
        background-color: chocolate;
    }
    
    .jumbotron.header{
        background-color: orange;
        color: white;   
    }
</style>

<div class="jumbotron header text-center">
    <h1>Meu Amigo Animal</h1>
    <p>Adote um Amigo em Santa Catarina</p>
</div>

<div class="text-right mr-4">
    <button type="button" class="btn btn-secondary">
        <a href="/logout">Sair</a>
    </button>
</div>

<div id="menu">
    <ul class="nav ml-4 mb-4">
        <li class="nav-item">
            <a class="nav-link" href="/pet/all/">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pet/user/">Meus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pet/register">Cadastrar</a>
        </li>
    </ul>
</div>




